{% extends "base.html" %}

{# TODO: Change this css to look nice! #}
{% block content %}
    <div class="event-page-left">
        <div class="event-title">
            <h1 class="event-title page-title">{{ event.title }}</h1>
            <h3 class="event-creator">Creator: {{ event.creator }}</h3>
        </div>
        <div class="event-scores">
            <ol class="score-list">
                {% for score in sorted_scores %}
                    <li class="score-entry"> 
                        <span class="user-name">{{ score.participant.user.username }}</span> <span class="user-score">{{ score.score }}</span>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="event-page-right">
        <div class="current-pot">
            <h2 class="pot-total">pot: {{ event.bet_amount }}</h2>
        </div>
        <div class="event-description">
            <p class="description-text">
                {{ event.description }}
            </p>
        </div>
    </div>
{% endblock content %}