{% extends "base.html" %}

{% block content %}
    <div class="event-page-left">
        <div class="event-title">
            <h1 class="event-title page-title">{{ current_event.title }}</h1>
        </div>
        <div class="event-scores">
            <ol class="score-list">
                {% for score in current_event.scores %}
                    
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="event-page-right">
        <div class="current-pot">
            <h2 class="pot-total">pot: {{current_event.bet_amount}}</h2>
        </div>
    </div>
{% endblock content %}