.container {
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: #2ae0bd; }

nav.main-nav {
  height: 50px;
  background-color: darkgrey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }
  nav.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-align: center; }
    nav.main-nav a.home-logo {
      float: left;
      margin-left: 15px; }
    nav.main-nav a.logout-button {
      float: right;
      margin-right: 15px; }
    nav.main-nav a:hover {
      font-weight: bold; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }
