nav.main-nav {
  height: 50px;
  background-color: dimgrey; }
  nav.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 30px; }
    nav.main-nav a.home-logo {
      float: left; }
    nav.main-nav a.logout-button {
      float: right; }

html, body {
  margin: 0;
  padding: 0; }
