{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScoreBoardMe | {% block title %}home{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/project.css" type="text/css">
    {% block extra_css %}{% endblock extra_css %}
    {% endcompress %}


</head>
<body>

    <div class="container">
        <nav class="main-nav">
            <div class="nav-content">
                <div class="pull-left nav-group nav-left">
                    <a href="{% url 'index' %}" class="main-logo">ScoreBoardMe</a>
                </div>
                <div class="pull-right nav-group nav-right">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}">profile</a>
                        <a href="{% url 'logout' %}" class="logout-button">logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">login</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="content">
            {% block content %}
                
            {% endblock content %}
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <span class="footer-left">&copy;ScoreBoardMe</span>
            <span class="footer-right">About | Jobs | News</span>
        </div>
    </footer>

</body>
    <script src="//code.jquery.com/jquery-latest.js"></script>


    {# Jquery minified -- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> #}

    {% compress js %}
        <script src="{{ STATIC_URL }}js/project.js"></script>

        {% block extra_js %}
            
        {% endblock extra_js %}
    {% endcompress %}
</html>