{% load compress %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScoreBoardMe | {% block title %}home{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/project.scss" type="text/x-scss">
    {% block extra_css %}
        
    {% endblock extra_css %}
    {% endcompress %}
</head>
<body>
    <div class="nav-background"></div>
    <div class="container">
        <nav class="main-nav">
            <a href="{% url 'index' %}" class="main-logo">ScoreBoardMe</a>
            <a href="#" class="logout-button">logout</a>
        </nav>
        {% block content %}
            
        {% endblock content %}
        <footer class="footer">
            <span class="footer-left">&copy;ScoreBoardMe</span>
            <span class="footer-right">About | Jobs | News</span>
        </footer>

    </div>
    <div class="footer-background"></div>

</body>
    <script src="//code.jquery.com/jquery-latest.js"></script>


    {# Jquery minified -- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> #}

    {% compress js %}
        <script src="{{ STATIC_URL }}js/project.js"></script>
        {% block extra_js %}
            
        {% endblock extra_js %}
    {% endcompress %}
</html>